:root {
  --background: hsl(0 0% 100%);
  --accent: hsl(36 90% 61%);
  --accent-light: hsl(36, 90%, 71%);
  --grey: hsl(0 0% 76%);
  --grey-light: hsl(0 0% 92%);
  --grey-accent: hsl(0 0% 46%);
  --grey-light-accent: hsl(0 0% 87%);
  --blue: hsl(230 42% 71%);
  --blue-accent: hsl(204 100% 50%);
  --red: hsl(360 100% 50%);

  --br: 4px;
  --sidepanel-bp: 1200px;
  --video-xl-bp: 1500px;
  --video-lg-bp: 1000px;
  --video-md-bp: 700px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

[type='radio'] {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 72px 1fr;
  grid-template-rows: 66px calc(100vh - 66px);
}

/* Header */
.header {
  grid-column: 1 / 3;
  display: flex;
  padding: 0 16px;
  box-shadow: 0 0 4px 1px hsl(0 0% 0% / 0.5);
  background-color: var(--background);
  z-index: 1;
}

.header > * {
  flex-basis: 100%;
}

.header__logo {
  display: flex;
  align-self: center;
  gap: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--accent);
}

.header__search {
  --search-height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search-text {
  margin: 0;
  flex-basis: 100%;
  height: var(--search-height);
  padding: 6px;
  border: 1px solid var(--grey);
  border-right: none;
  border-radius: var(--br) 0 0 var(--br);
}

.header__search-button {
  margin: 0;
  height: var(--search-height);
  padding: 6px;
  border: 1px solid var(--grey);
  border-left: none;
  border-radius: 0 var(--br) var(--br) 0;
  background-color: var(--grey-light);
}

.header__search-mic {
  height: var(--search-height);
  margin-left: 8px;
  border: none;
  color: var(--grey);
  background-color: var(--background);
  font-size: 1.25rem;
}

.header__user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.header__user-notifications {
  color: var(--grey);
  font-size: 1.25rem;
}

.header__user-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--accent);
}

.header__dropdown-wrapper {
  display: none;
  position: absolute;
  left: -120px;
  bottom: -125px;
  padding: 10px;
}

.header__dropdown {
  border-radius: var(--br);
  background-color: var(--background);
  box-shadow: 0 0 4px 1px hsl(0 0% 0% / 0.2);
}

.header__dropdown-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__dropdown-item {
  width: 150px;
  padding: 10px 16px;
}

.header__dropdown-item:last-child {
  border-top: 1px solid var(--grey);
  color: var(--red);
}

.header__dropdown-icon {
  margin-right: 8px;
}

:is(.header__search-button, .header__user-icon, .header__dropdown-item):hover {
  background-color: var(--grey-light-accent);
}

:is(.header__search-mic, .header__user-notifications):hover {
  color: var(--grey-accent);
}

:is(.header__user-icon, .header__dropdown-wrapper):hover .header__dropdown-wrapper {
  display: block;
}

.header__search-text:focus {
  outline: none;
  border: 2px solid var(--blue);
}

/* Side panel */
.side-panel {
  display: flex;
  flex-direction: column;
}

.side-panel__streamers {
  overflow-y: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-light);
  scrollbar-width: thin;
}

.side-panel__streamer {
  display: flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
}

.side-panel__streamer-info {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}

.side-panel__avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--background);
}

.side-panel__streamer-avatar {
  width: 32px;
}

.side-panel__streamer-name {
  display: none;
}

.side-panel__streamer-stats {
  display: none;
}

.side-panel__active-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--red);
  animation: pulse 2s infinite;
}

.side-panel__info {
  display: none;
}

.side-panel__info {
  flex: 0 0 150px;
  padding: 16px;
  background-color: var(--grey-light);
}

.side-panel__info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 16px;
  border-radius: var(--br);
  background-color: var(--grey-light-accent);
}

.side-panel__info-text {
  margin: 0 0 16px 0;
  text-align: center;
}

.side-panel__info-icons {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
}

.side-panel__info-icon {
  cursor: pointer;
}

.side-panel__streamer:hover {
  background-color: var(--grey-light-accent);
}

.side-panel__info-icon:hover {
  color: var(--blue-accent);
}

.side-panel__info-text::selection {
  color: #fff;
  background-color: var(--accent);
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: 240px 1fr;
  }

  .side-panel {
    gap: 2px;
  }

  .side-panel__streamer {
    justify-content: space-between;
  }

  .side-panel__streamer-info {
    display: flex;
    flex: 0 0 150px;
    min-width: 0;
    align-items: center;
    gap: 12px;
  }

  .side-panel__streamer-name {
    display: inline;
    flex: 0 0 102px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .side-panel__streamer-stats {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .side-panel__info {
    display: block;
  }
}

/* Main panel */
.main-panel {
  display: grid;
  grid-template-rows: 68px 400px auto 68px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0 16px;
}

.categories {
  height: 68px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  white-space: nowrap;
  overflow: auto;
}

@supports (overflow: overlay) {
  .categories {
    overflow: overlay;
  }
}

.categories__item {
  padding: 6px 12px;
  border: 1px solid var(--grey);
  border-radius: 16px;
  background-color: var(--grey-light);
}

.categories__item:first-child {
  border-color: var(--accent-light);
  background-color: var(--accent);
  color: hsl(0 0% 100%);
}

.categories__item:hover {
  background-color: var(--grey-light-accent);
}

/* Carousel */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__cards {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.carousel__card {
  position: absolute;
  display: flex;
  flex: 0 0 600px;
  min-width: 600px;
  max-width: 600px;
  cursor: pointer;
  transition: transform 0.8s ease;
}

.carousel__card-description {
  border-top-right-radius: var(--br);
  border-bottom-right-radius: var(--br);
  padding: 16px;
  flex: 0 0 175px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: var(--grey-light);
}

.carousel__card-info {
  display: flex;
  gap: 16px;
}

.carousel__card-text {
  color: var(--grey-accent);
}

.carousel__avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  height: 40px;
}

.carousel__avatar {
  width: 80%;
  cursor: pointer;
}

.carousel__card-title {
  flex: 0 0 87px;
  max-width: 87px;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
}

.carousel__card-text::selection {
  color: #fff;
  background-color: var(--accent);
}

/* Videos */
.videos {
  grid-row: 3;
  padding: 16px 0;
  display: grid;
  gap: 16px;
}

.videos__item-preview,
.carousel__card-preview {
  position: relative;
}

.videos__item-preview-img,
.carousel__card-preview-img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.videos__item-preview-img-wrapper,
.carousel__card-preview-img-wrapper {
  z-index: 100;
  background-color: hsl(0 0% 0%);
}

@supports (aspect-ratio: 16 / 9) {
  .videos__item-preview-img,
  .carousel__card-preview-img {
    aspect-ratio: 16 / 9;
  }
}

.videos__preview-info,
.carousel__preview-info {
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-radius: var(--br);
  display: inline-block;
  padding: 2px 4px;
  font-size: 0.8rem;
  background-color: hsl(0 0% 0% / 0.5);
  cursor: pointer;
  color: #fff;
}

.videos__preview-play-icon,
.carousel__preview-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  opacity: 0;
  color: #fff;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.videos__item-description {
  display: grid;
  grid-template-columns: 36px minmax(0, calc(100% - 44px)) 8px;
  width: 100%;
  gap: 16px;
  padding: 4px 8px;
}

.videos__avatar-wrapper {
  display: flex;
  width: 36px;
  height: 36px;
}

.videos__avatar {
  width: 100%;
  cursor: pointer;
}

.videos__item-title {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  justify-items: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: bold;
}

.videos__item-name,
.videos__item-author,
.carousel__card-name,
.carousel__card-author {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.videos__item-author,
.carousel__card-author {
  font-size: 0.8rem;
  color: var(--grey-accent);
}

.videos__item-options {
  cursor: pointer;
}

.live::before {
  content: 'LIVE';
  position: absolute;
  z-index: 10;
  top: 4px;
  left: 4px;
  border-radius: var(--br);
  padding: 2px 4px;
  font-size: 0.8rem;
  background-color: var(--red);
  color: #fff;
  cursor: pointer;
}

:is(.videos__item-preview, .carousel__card-preview):hover
  :is(.videos__item-preview-img, .carousel__card-preview-img) {
  transition: opacity 0.2s;
  opacity: 0.5;
}

:is(.videos__item-preview, .carousel__card-preview):hover
  :is(.videos__preview-play-icon, .carousel__preview-play-icon) {
  transition: opacity 0.2s;
  opacity: 1;
}

:is(.videos__item-name, .videos__item-author, .carousel__card-name, .carousel__card-author):hover {
  color: var(--blue-accent);
}

@media (min-width: 700px) {
  .videos {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1000px) {
  .videos {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1500px) {
  .videos {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
  max-width: 100%;
  bottom: 0;
  text-align: center;
  grid-row: 4 / 5;
}

.footer__icon {
  margin-left: 8px;
}

/* animations */
.bg-transition {
  transition: background-color 0.2s;
}

.color-transition {
  transition: color 0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 hsla(360 100% 50% / 1);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px hsla(360 100% 50% / 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0px hsla(360 100% 50% / 0);
  }
}

/* Carousel controls */
#item-1:checked ~ .carousel__cards #card-1,
#item-2:checked ~ .carousel__cards #card-2,
#item-3:checked ~ .carousel__cards #card-3,
#item-4:checked ~ .carousel__cards #card-4,
#item-5:checked ~ .carousel__cards #card-5 {
  transform: translateX(0) scale(1);
  box-shadow: 0 16px 16px hsla(0 0% 0% / 0.6);
  z-index: 5;
}

#item-1:checked ~ .carousel__cards #card-2,
#item-2:checked ~ .carousel__cards #card-3,
#item-3:checked ~ .carousel__cards #card-4,
#item-4:checked ~ .carousel__cards #card-5 {
  transform: translateX(10%) scale(0.9);
  box-shadow: 0 14px 14px hsla(0 0% 0% / 0.5);
  z-index: 4;
}

#item-1:checked ~ .carousel__cards #card-3,
#item-2:checked ~ .carousel__cards #card-4,
#item-3:checked ~ .carousel__cards #card-5 {
  transform: translateX(19%) scale(0.8);
  box-shadow: 0 12px 12px hsla(0 0% 0% / 0.4);
  z-index: 3;
}

#item-1:checked ~ .carousel__cards #card-4,
#item-2:checked ~ .carousel__cards #card-5 {
  transform: translateX(27%) scale(0.7);
  box-shadow: 0 10px 10px hsla(0 0% 0% / 0.3);
  z-index: 2;
}

#item-1:checked ~ .carousel__cards #card-5 {
  transform: translateX(34%) scale(0.6);
  box-shadow: 0 8px 8px hsla(0 0% 0% / 0.2);
  z-index: 1;
}

#item-2:checked ~ .carousel__cards #card-1,
#item-3:checked ~ .carousel__cards #card-2,
#item-4:checked ~ .carousel__cards #card-3,
#item-5:checked ~ .carousel__cards #card-4 {
  transform: translateX(-10%) scale(0.9);
  box-shadow: 0 14px 14px hsla(0 0% 0% / 0.5);
  z-index: 4;
}

#item-3:checked ~ .carousel__cards #card-1,
#item-4:checked ~ .carousel__cards #card-2,
#item-5:checked ~ .carousel__cards #card-3 {
  transform: translateX(-19%) scale(0.8);
  box-shadow: 0 12px 12px hsla(0 0% 0% / 0.3);
  z-index: 3;
}

#item-4:checked ~ .carousel__cards #card-1,
#item-5:checked ~ .carousel__cards #card-2 {
  transform: translateX(-27%) scale(0.7);
  box-shadow: 0 10px 10px hsla(0 0% 0% / 0.3);
  z-index: 2;
}

#item-5:checked ~ .carousel__cards #card-1 {
  transform: translateX(-34%) scale(0.6);
  box-shadow: 0 8px 8px hsla(0 0% 0% / 0.2);
  z-index: 1;
}
